body {
  margin: 0;
  font-family:"Inconsolata", "Ropa Sans", monospace;
  color: #ffffff;
  background: #000000;
  overflow-x:hidden;
  font-size: 17pt;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

section {
  position: relative;
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 100px 20vw;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
header{
  position: relative;
  display: flex;
  /* flex-direction:column; */
  align-items: center;
  padding: 20px 2.5vw;
  flex-wrap: nowrap;
  justify-content: flex-start;
  
}
header .Logosds{
  display: inline-block;
  z-index: 1!important;
}


/* PAGE1 video background */


.logo_n{
  display: flex;
  justify-content: center;
  align-items: center;
}

#HCont1{
  width: 100%;
  height: 50vh;
  position: relative;
}
#HCont1 video{
  width: 100%;
  height:100%;
  display: flex;
  justify-items: sticky;
  
}
.text-box{
  font-family: 'Major Mono Display',monospace;
  position:absolute;
  top: 0;
  left:0;
  background:#000;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  font-size: 50px;
  font-weight: 500;
  -webkit-text-stroke-color : #fff;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: multiply;
}


 /* centre pop up for text */

 
.text1 {
	-webkit-animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}



#Title_name{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fa9e48;
}

.Know_More {
  padding: 8px;
  background: #fa76d2;
  color: rgb(255, 6, 6);
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
}

.Know_More:hover{
  color: #04e6ff;
}
.blue {
  background: #3c31dd;
}
.red {
  background: #dd3f31;
}
.pink {
  background: #ff0066;
}
.orange {
  background: #ff8000;
}
.dark {
  background: #202731;
}


.page1 {
  height: 100%;
  width: 100%;
  margin: 0;
}


.aboutus, .project{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.aboutus .project .ses .teams {
  font-weight: 900 ;
  align-items: flex-start;
  text-decoration-style: double;
}

.Apage1 ,.Apage2 ,.Apage3 ,.Apage4 ,.Apage5 ,.Apage6{
  font-weight: 400;
  max-width: 400px;
  margin: 15px;
  /* flex-grow: 0; */
  /* flex-shrink: 2; */
  /* flex-basis: 220px; */
    flex: 0 1 220px;
}
.project,.projectdata0,.session0{
  font-weight: 500;
}


/* DESIGN */

.curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
}

.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(85%, 60%);
  z-index: 1;
}

.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #000000;
  transform: translate(-4%, 40%);
  z-index: 1;
} 

/* Triangle */

.triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.triangle svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 187px;
}

.triangle .shape-fill {
  fill: #3C31DD;
}

/* TRANGULAR WAVE */
.spacer {
  aspect-ratio: 960/350;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.trawave {
  background-image: url("images/svg/trawave.svg");
  z-index: -1;
}

/* IMAGE OF wave */

.wave {
  background-image: url("images/svg/wave.svg");
  z-index: -1;
} 

/* IMAGE IN BETWEEN LAST */


.wave1 {
  background-image: url("images/svg/wave1.svg");
}

/* IMAGE IN BACKGROUND OF LAST PAGE */


.circle {
  background-image: url("images/svg/circle.svg");
} 

.location{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height:75%;
}

/*

*/

/* FOOTER */
/* 

 */

.work{
  color: #04e6ff;
}
.work:hover{
  background-color: hsla(215, 54%, 46%, 0.83);
  display: initial;
}

ul.icons li {
  display: inline-block;
  padding: 1em 0em 0em 1em;
}

ul.lowest li {
  padding-left: 1.25em;
}

ul, li, footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.label{
  display:none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 1em;
}

ul {
  list-style: none;
  padding-left: 1em;
}

footer{
  color: rgb(220, 253, 9);
  background-color: #1725bbd4;
  padding-bottom: 2rem;
}

/* 

 */
     /* TEAM */
/* 

  */

.Team{
   max-width: 55rem;
   padding: 2rem 1.5rem;
   margin:0 auto;

}


ul{
  list-style: none;
}

 h1 {
font-weight: 900;
font-size: 2.7rem;
max-width: 20ch;
}

p {
max-width: 60ch;
}

a {
color: currentcolor;
}

/* Utilities */
.grid {
display: grid;
grid-template-columns: repeat(
  auto-fill,
  minmax(var(--auto-grid-min-size, 14rem), 1fr)
);
grid-column-gap: var(--auto-grid-gap, 0);
padding: 0;
}

.flow > * + * {
margin-top: var(--flow-space, 1em);
}

/* Composition */
.team {
--flow-space: 2em;
}

/* Blocks */
.profile {
display: flex;
flex-direction: column;
justify-content: flex-end;
aspect-ratio: 108/132;
position: relative;
padding: 1.5rem;
color: #0bcff1f3;
backface-visibility: hidden;
text-decoration: none;
overflow: hidden;
}

.profile::before,
.profile::after {
content: "";
width: 100%;
height: 100%;
position: absolute;
/*inset: 0;*/
top: 0;
left: 0;
}

.profile::before {
background: linear-gradient(
  to top,
  hsl(0 0% 0% / 0.79) 0%,
  hsl(0 0% 0% / 0.787) 7.8%,
  hsl(0 0% 0% / 0.779) 14.4%,
  hsl(0 0% 0% / 0.765) 20.2%,
  hsl(0 0% 0% / 0.744) 25.3%,
  hsl(0 0% 0% / 0.717) 29.9%,
  hsl(0 0% 0% / 0.683) 34.3%,
  hsl(0 0% 0% / 0.641) 38.7%,
  hsl(0 0% 0% / 0.592) 43.3%,
  hsl(0 0% 0% / 0.534) 48.4%,
  hsl(0 0% 0% / 0.468) 54.1%,
  hsl(0 0% 0% / 0.393) 60.6%,
  hsl(0 0% 0% / 0.31) 68.3%,
  hsl(0 0% 0% / 0.216) 77.3%,
  hsl(0 0% 0% / 0.113) 87.7%,
  hsl(0 0% 0% / 0) 100%
);
transition: 300ms opacity linear;
}

.profile::after {
background: linear-gradient(
  45deg,
  hsl(5 97% 63% / 0.7) 0,
  hsl(5 97% 63% / 0) 100%
);
opacity: 0;
transition: 300ms opacity linear;
}

.profile > * {
z-index: 1;
}

.profile img {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
margin: 0;
z-index: 0;
object-fit: cover;
filter: grayscale(0.3);
transition: filter 2s ease, transform 1s linear;
}

.profile h2,
.profile p {
transform: translateY(2ex);
}

.profile h2 {
font-size: 1.7rem;
line-height: 1.2;
font-weight: 900;
letter-spacing: 0.03ch;
transition: 300ms transform ease;
}

.profile p {
font-size: 1.2rem;
font-weight: 500;
}

.profile p {
opacity: 0;
transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.profile:focus {
outline: 0.5rem solid #fff;
outline-offset: -0.5rem;
}

.profile:hover :is(h2, p),
.profile:focus :is(h2, p) {
transform: none;
}

.profile:hover::after,
.profile:focus::after,
.profile:hover::before,
.profile:focus::before {
opacity: 0.7;
}

.profile:hover p,
.profile:focus p {
opacity: 1;
transition-delay: 200ms;
}

.profile:hover img,
.profile:focus img {
filter: grayscale(0);
transform: scale(1.05) rotate(1deg);
}



/* 


 */

/* SESSIONS */
/* 


 */



.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: rgb(14, 130, 231);
	font-size: 1.5rem;
}

.front{
  background: #48adfa;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#3b8aae 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#3f92b8 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#3f92b8 100%);
}
.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#3b8aae 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#3f92b8 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#3f92b8 100%);
}


.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: #000;
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}



/* 

 */

/* HEADER */

/*    

 */

.Navig {
  background-color: #ffffff;
  border-radius: 4px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -7px 9px 17px 0px #0000000e;
}

.nav_items a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
}
.nav_items:hover a {
  color: #dc143c;
}
nav {
  position: relative;
}
.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -80px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url(https://image.flaticon.com/icons/svg/545/545705.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  cursor: pointer;
  box-shadow: 0 0 17px 0 #0000000e;
}
.icon.close {
  transform: translatey(-50%) rotate(360deg);
  background-image: url(https://image.flaticon.com/icons/svg/748/748122.svg);
}
.Navig {
  width: 0px;
  overflow: hidden;
  transform: translateX(50px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
  padding: 20px;
}
nav.show .Navig {
  width: 575px;
  transform: translate(0px);
  opacity: 1;
  pointer-events: all;
}
nav {
  position: absolute;
  top: 10px;
  right: 100px;
}

@media only screen and (max-width: 800px) {

  .nav_items a {
    padding: 5px 10px;
  }
  nav .Navig {
    padding: 15px;
    font-size: 14px;
  }
  nav.show .Navig {
    width: 400px;
  }
  .icon {
    width: 45px;
    height: 45px;
    right: -50px;
  }
  nav {
    top: 10px;
    right: 60px;
  }
}

@media only screen and (max-width: 600px) {
   
  
  header{
    position: relative;
    display: flex;
    /* flex-direction:column; */
    align-items: center;
    padding: 100px 2.5vw;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
  }
  .text-box{
    font-family: 'Major Mono Display',monospace;
    position:absolute;
    top: 0;
    left:0;
    background:#000;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    font-size: 30px;
    font-weight: 300;
    -webkit-text-stroke-color : #fff;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: multiply;
  }  
  .nav_items a {
    padding: 5px 10px;
  }
  nav .Navig {
    float:right;
    font-size: 15px;
    flex-direction: column;
  }
  nav.show .Navig {
    width: 170px;
  }
  .icon {
    width: 45px;
    height: 45px;
    right: -50px;
  }
  nav {
    top: 10px;
    right: 60px;
  }

}

